body {
    font: 14px 'Helvetica Neue',Helvetica,arial;
    background:url(http://localhost/FCIBD_ADMIN_PANNEL/img/bg.jpg)repeat;
    min-height: 100%;
    position: static;
	font-family: Georgia,"Times New Roman",Times,serif;
	}
.header_area{
    /*width: 100%;*/
    /*min-width: 1185px;*/
    /*height: 130px;*/
    background: none repeat scroll 0% 0% rgba(250, 250, 250, 0.8);
}     
 /*background-color: #EEE1DC*/
 .site_name{
     color:#C71585
 }
 .name h4{font-size:28px;font-family:normal;font-weight:bold;}
.social_icon {float:right;margin-top:10px}
.social_icon i{color:#AA4879;font-size:35px;padding:2px;background:#DADADA;border-radius:4px;margin-left:3px}
.face i:hover{color:#33579F}
.twitter i:hover{color:#00ABF3}
.google i:hover{color:#DA4B2D}
.you i:hover{color:#CC1C13}




#searchform {
    
    width: 100%;
    height: 27px;
    margin: 15px 0px;
	float:right
    }
#searchform .input {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
    width: 230px;
    height: 27px;
    
    border-width: 1px 0px 1px 1px;
    border-style: solid none solid solid;
    border-color: #888 -moz-use-text-color #888 #888;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 5px;
	margin-right:0px;
}
#searchform .button {
    width: 28px;
    height: 28px;
    
    background: url('http://localhost/FCIBD_ADMIN_PANNEL/img/icon-search.png') no-repeat scroll 6px 5px / 16px 16px #7A1632;
    border: medium none;
    text-indent: -9999px;
}

.main_menu{
    float:none;
    height:50px;
    background:#4D0033;
    box-shadow:0px -2px rgba(0, 0, 0, 0.5) inset;
    margin-top: 0px;
}
.homeim{background:url(http://localhost/FCIBD_ADMIN_PANNEL/img/icon-home.png)no-repeat;background-position:center;width:60px;background-size:30px}
div.mainmenu, div.mainmenu div {overflow:visible}
.mainmenu {background:#4D0033;height:50px;margin-bottom:5px}
.mainmenu #nav{}
.mainmenu #nav li{float:left;position:relative; list-style: none}
.mainmenu #nav li:hover{background:#B15E95;}
.mainmenu #nav li a{
line-height: 25px;
height: 50px;
float: left;
font-size: 15px;
font-weight: bold;
color: #FFF;
text-transform: uppercase;
text-decoration: none;
padding: 16px 15px 0px;
}
.mainmenu #nav li a:hover{}
/* Dropdown CSS */
.mainmenu #nav li ul {position:absolute;
width:250px;
background:#B15E95;
left:-9999px;
top:49px;
z-index:9999;
border-top:0px solid #cf0000;
color:#FFF;
}
.mainmenu #nav li:hover ul {left:0}
.mainmenu #nav li ul li{float:none;height:50px;}
.mainmenu #nav li ul li:hover{float:none;height:50px;background:#AA4879}
.mainmenu #nav li ul li:last-child{border-bottom:0px solid #f1f1f1}
.mainmenu #nav li ul li a{color:#fff;
font-family:arial;
font-size:14px;
padding-top:10px;
padding-bottom:10px;}
.mainmenu #nav li ul li a:hover{background:#AA4879;color:#fff;width:240px;height:40px;margin:auto auto;}
#button-registration {
    float: right;
    height: 48px;
    border: 1px solid #7A1632;
    padding: 0px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-decoration:none;
    background-color:#E6726D;
    background-image:-moz-linear-gradient(center top , #AA4879,#4D0033);
    line-height: 48px;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset, 0px -1px rgba(0, 0, 0, 0.3) inset, -1px 0px rgba(255, 255, 255, 0.1);
    text-shadow: 0px -1px rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-in-out 0s;
}